<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="nutritionix" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="nutritionix" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="nutritionix" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="nutritionix" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nutritionix</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="app/css/app.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>
<body layout="row" ng-cloak>
<md-sidenav layout="column"
            class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-xs')"
            md-disable-backdrop="" md-whiteframe="4">
    <div ng-controller="MenuCtrl" layout="column" layout-fill>
        <header>
            <md-toolbar class="md-hue-2 main-toolbar" md-whiteframe="4">
                <div class="md-toolbar-tools">
                    <h1 class="md-heading" flex>Nutritionix</h1>
                </div>
            </md-toolbar>
        </header>
        <section layout="row" layout-wrap>
            <ul layout-fill class="side-menu menu">
                <li layout="column" ng-repeat="item in menu">
                    <md-button layout="column" class="md-button md-ink-ripple" ng-href="{{ item.url }}">
                        <i class="material-icons">{{ item.icone }}</i>
                        <span>{{item.title}}</span>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </li>
            </ul>
        </section>
        <span flex></span>
        <md-toolbar md-whiteframe="4" class="md-padding md-hue-1" ng-class="{ 'md-accent' : warning }">
            <section layout="column">
                <section layout="row">
                    <span flex="nogrow">Calories :</span>
                    <span ng-style="{'padding-left' : '5px'}" flex>{{ floor(calories, 2) }} / {{ floor(maxCalories, 2) }} kcal</span>
                </section>
                <section layout="row">
                    <span flex="nogrow">Sodium :</span>
                    <span ng-style="{'padding-left' : '5px'}" flex>{{ floor(sodium, 3) }} / {{ floor(maxSodium, 3) }} g</span>
                </section>
                <section layout="row">
                    <span flex="nogrow">Saturated fat :</span>
                    <span ng-style="{'padding-left' : '5px'}" flex>{{ floor(saturatedFat, 2) }} g</span>
                </section>
            </section>
        </md-toolbar>
    </div>
</md-sidenav>

<div layout="column" tabIndex="-1" role="main" flex>
    <md-content md-scroll-y layout="column" flex>
        <div ng-view flex="noshrink"></div>
    </md-content>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
<script src="app/app.js"></script>
<script src="app/searchView/controller.js"></script>
<script src="app/profileView/controller.js"></script>
<script src="app/pantryView/controller.js"></script>
<script src="app/menu/menu.js"></script>
<script src="app/components/version/version.js"></script>
<script src="app/components/nutritionix/nutritionix.js"></script>
<script src="app/components/version/version-directive.js"></script>
<script src="app/components/version/interpolate-filter.js"></script>
<script src="app/components/pagination/pagination.js"></script>
<script src="app/components/dialogs/infoDialog.js"></script>
<script src="app/components/dialogs/quantityDialog.js"></script>
<script src="app/components/pantry/pantry.service.js"></script>
<script src="app/components/profile/profile.service.js"></script>
</body>
</html>
