<md-content md-scroll-y flex class="md-padding" layout="row" layout-align="center" layout-wrap ng-cloak="">
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Current items in your pantry</span>
                <span class="md-subhead">The blue gradient tie to the calories percentage</span>
            </md-card-title-text>
            <md-card-title-media>
                <i class="material-icons">person</i>
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <md-list flex>
                <md-list-item
                        ng-style="getGradientStyle(item)"
                        class="md-3-line"
                        ng-repeat="item in items"
                        ng-click="showItemInfo($event, item)"
                >
                    <div class="md-list-item-text" layout="column">
                        <h3 class="title">{{ item.fields.item_name }}</h3>
                        <h4>{{ item.fields.brand_name }}</h4>
                        <section>
                            <section layout="row">
                                <span flex="nogrow">Calories per unit : </span>
                                <span flex ng-style="{'padding-left' : '10px'}">{{ floor(item.fields.nf_calories, 2) }} kcal</span>
                                <span flex="nogrow">Total calories : </span>
                                <span flex ng-style="{'padding-left' : '10px'}">{{ floor(item.fields.nf_calories * item.quantity, 2) }} kcal ({{ getPercentageCaloriesOfThePantry(item) }}%)</span>
                            </section>
                            <section layout="row">
                                <span flex="nogrow">Sodium per unit : </span>
                                <span flex ng-style="{'padding-left' : '10px'}">{{ floor(item.fields.nf_sodium / 1000, 3) }} g</span>
                                <span flex="nogrow">Total sodium : </span>
                                <span flex ng-style="{'padding-left' : '10px'}">{{ floor(item.fields.nf_sodium * item.quantity / 1000, 3) }} g ({{ getPercentageSodiumOfThePantry(item) }}%)</span>
                            </section>
                            <section layout="row">
                                <span flex="nogrow">Saturated fat per unit : </span>
                                <span flex ng-style="{'padding-left' : '10px'}">{{ floor(item.fields.nf_saturated_fat, 3) }} g</span>
                                <span flex="nogrow">Total saturated fat : </span>
                                <span flex ng-style="{'padding-left' : '10px'}">{{ floor(item.fields.nf_saturated_fat * item.quantity, 3) }} g ({{ getPercentageSaturatedFatOfThePantry(item) }}%)</span>
                            </section>
                        </section>
                    </div>
                    <div class="md-secondary-container">
                        <div layout="column">
                            <md-button class="md-secondary md-icon-button md-warn" ng-click="less(item)"><i class="material-icons">remove</i></md-button>
                            <md-button class="md-secondary md-icon-button" ng-click="changeQuantity($event, item)">{{ item.quantity }}</md-button>
                            <md-button class="md-secondary md-icon-button md-green" ng-click="more(item)"><i class="material-icons">add</i></md-button>
                        </div>
                        <md-button class="md-secondary md-icon-button md-warn" ng-click="deleteItem($event, item)"><i class="material-icons">delete</i></md-button>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>