<md-content md-scroll-y flex class="md-padding" layout="row" layout-align="center" layout-wrap ng-cloak="">
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Current items in your pantry</span>
            </md-card-title-text>
            <md-card-title-media>
                <i class="material-icons">person</i>
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="item in items" ng-click="showItemInfo($event, item)">
                    <img ng-src="{{ item.thumbnail }}" class="md-avatar" alt="{{item.item_name}}"/>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.item_name }}</h3>
                        <h4>{{ item.brand_name }}</h4>
                        <p>{{ item.notes }}</p>
                    </div>
                    <md-button class="md-secondary md-icon-button" ng-click="deleteItem($event, item)"><i class="material-icons">delete</i></md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <!--<md-button ng-click="addItem($event, item)">Add</md-button>-->
            <!--<md-button ng-click="showItemInfo($event, item)">Info</md-button>-->
        </md-card-actions>
    </md-card>
</md-content>