<md-toolbar md-whiteframe="4" class="md-hue-1">
    <form class="md-padding" ng-submit="$event.preventDefault()" name="searchForm">
        <div layout-gt-sm="row">
            <md-autocomplete flex
                             md-no-cache="false"
                             md-input-name="autoCompleteField"
                             md-search-text="autoCompleteSearchText"
                             md-selected-item="selectedItem"
                             md-selected-item-change="selectedItemChange(selectedItem)"
                             md-items="item in autoCompleteQuerySearch(autoCompleteSearchText)"
                             md-item-text="item.text"
                             md-input-minlength="1"
                             placeholder="The following input allow you to search in the database any kind of aliments.">
                <md-item-template>
                    <span md-highlight-text="autoCompleteSearchText">{{ item.text }}</span>
                </md-item-template>
                <md-not-found>
                    No aliments matching ' {{ autoCompleteSearchText }} ' were found.
                </md-not-found>
                <div ng-messages="searchForm.autoCompleteField.$error" ng-if="searchForm.autoCompleteField.$touched">
                    <div ng-message="minlength">Your entry is not long enough.</div>
                </div>
            </md-autocomplete>
        </div>
    </form>
</md-toolbar>
<md-content md-scroll-y flex class="md-padding" layout="row" layout-align="center" layout-wrap ng-cloak="">
    <md-card flex-xs flex-sm="45" flex-md="30" flex-gt-md="30" ng-repeat="item in foundResults">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ item.item_name }}</span>
                <span class="md-subhead">{{ item.brand_name}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <img ng-src="{{ item.thumbnail }}" class="md-media-sm card-media"/>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="showItemInfo($event, item)">Info</md-button>
        </md-card-actions>
    </md-card>
</md-content>
<section md-whiteframe="4" layout="row" layout-padding layout-align="center center" layout-fill ng-if="paging.total">
    <pagination ym-pages="paging.total" ym-page-changed="changePage()" ym-nbr-page-shown="4" ym-current-page="paging.current"></pagination>
</section>